body
{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:#e6ecf1;
}

header
{
    background-color: #003C71;
    color: #fff;
    text-align: center;
    padding: 0px;
}

header a
{
    text-decoration: none;
    color: #E75D2A;
}

header h1
{
    font-family: 'Tilt Warp';
    font-weight: lighter;
    font-size: x-large;
    margin: 15px;
}

.content
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

span
{
    font-weight: bold;
}

h3
{
  font-family: 'Tilt Warp';
  color: #E75D2A;
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 10px;
}

/* Style for table headers */
th {
    background-color: #003C71;
    color: white;
    padding: 10px;
    font-weight: bold;
  }
  
  /* Style for table rows */
  tr {
    border-bottom: 1px solid #ddd;
  }
  
  /* Style for even rows */
  tr:nth-child(even) {
    background-color: lightblue;
  }
  
  /* Style for odd rows */
  tr:nth-child(odd) {
    background-color: rgb(255, 190, 164);
  }
  
  /* Style for the first row */
 .first{
    font-size: x-large;
    background-color: gold;
  }
  
  /* Style for table cells */
  td {
    padding: 10px;
  }

footer
{
    background-color: #003C71;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* footer's paragraph */
footer p
{
    margin: 10px;
}

