body
{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:#e6ecf1;
}

header
{
    background-color: #003C71;
    color: #fff;
    text-align: center;
    padding: 0px;
}

header a
{
    text-decoration: none;
    color: #E75D2A;
}

header h1
{
    font-family: 'Tilt Warp';
    font-weight: lighter;
    font-size: x-large;
    margin: 15px;
}

.content
{
    display: flex;
    flex-grow: 1;
}

.sidebar
{
    display: flex;
    flex-direction: column;
    background-color: #0077CA;
    width: 400px;
    list-style-type: none;
    overflow-y: auto;
    max-height: 89vh;
}

h2
{
    width: 100%;
    text-align: center;
    margin: 0px;
    margin-bottom: 5px;
    color: #E75D2A;
    text-decoration: underline;
    font-family: 'Tilt Warp';
    font-weight: lighter;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin:0px;
    overflow-y: auto;
    min-height: 14vh;
}

li
{
    margin:0px;
    text-align: center;
}

input
{
    width: 90%;
    text-align: center;
}

.info-box
{
    display: flex;
    flex-direction: column;
    width: 400px;
    overflow-y: auto;
    max-height: 62vh;
}

.info-box p
{
    padding: 5px;
    margin: 0;
    color: white;
}

.sidebar button
{
    margin: 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    font-weight: bold;
}

.sidebar button:hover
{
    background-color: #3ce241;
}

.about
{
    margin: 0;
    margin-top: auto;
    min-height: 2vh;
}

.about button
{
    width: 100%;
    margin: 0px;
    border-radius: 0px; 
    background-color: #E75D2A;
}

.about button:hover
{
    background-color: #df7650;
}


.game-section
{
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    word-wrap: break-word;
    background:#e6ecf1;
}

.output
{
    flex-grow: 1;
    padding: 10px;
    word-wrap: break-word;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}

.action-bar
{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 5px;
}

.action-bar p
{
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

.action-button
{
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
}

.action-button:hover
{
    background-color: #3ce241;
}

.leaderboard-button
{
    background-color: goldenrod;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    width: 140px;
}

.leaderboard-button:hover
{
    background-color: gold;
}

.leave-button
{
    background-color: rgb(255, 78, 78);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
}

.leave-button:hover
{
    background-color: rgb(255, 0, 0);
}

footer
{
    background-color: #003C71;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* footer's paragraph */
footer p
{
    margin: 10px;
}

